body {
	max-width: 1360px;
	margin-right: auto;
	margin-left: auto;
}

header .navbar-brand
{
	padding-left: 60px;
	background: url("../images/logo.svg") no-repeat;
	background-size: 43px 43px;
	background-position: 5px 2px;
}


.vertical-align {
    display: flex;
    align-items: center;
}

header .navbar.navbar-default {
	margin-top: 0;
	margin-bottom: 0;
}

#main-tabs {
	margin-top: 20px;
}

#main-tabs .nav-pills li .btn {
	background-color: rgba(153, 153, 153, 0.2);
	margin: 0;
	border-radius: 0;
	margin-right: 7px;
	padding: 10px 15px 10px 15px;
}

#main-tabs .nav-pills li .btn:hover {
	background-color: rgb(221, 221, 221);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a.active:before {
	content: ">";
	margin-left: -14px;
	margin-right: 6px;
}

.breadcrumb { 
	background-color: white;
	 margin-top: 10px;
	margin-bottom: 10px;
}

div[role="main"] .content {
	border: #e7e7e7 solid 1px;	
	background-color: rgb(248, 248, 248);
	padding: 15px;
}

