.panel-heading {
	overflow: hidden;
}

header .navbar-header h5{
	margin-top: 5px;
}

header #userinfo .glyphicon {
	margin-right: 5px;
}

header #userinfo .glyphicon-log-out {
	margin-left: 15px;
}

header .navbar-nav .open .dropdown-menu li{
	padding-top: 5px;
	padding-bottom: 5px;
} 

.vertical-align {
	display: flex;
	align-items: center;
}

header .navbar.navbar-default {
	margin-top: 0;
	margin-bottom: 0;
}

#main-tabs {
	margin-top: 20px;
}

#main-tabs .nav-pills li .btn {
	margin: 0;
	border-radius: 0;
	margin-right: 7px;
	padding: 10px 15px 10px 15px;
}

.breadcrumb { 
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel.address .btn {
	margin: -5px 5px 0 0;	
} 

#modal-edit-event #modal-date {
	width: 100px;
	margin-right: 7px;
}

#modal-edit-event .panel .address p:nth-child(1) span{
	margin-left: 15px;
}

#modal-edit-event .panel .address p span{
	margin-left: 26px;
}

#modal-edit-event .modal-body .clear-fix {
	margin-bottom: 7px;
}	

#modal-edit-event form .form-group.inline, #modal-edit-event form .form-group.inline .form-control {
	display: inline-block;
	width: auto; 
	vertical-align: middle; 
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
