body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:68px;
  top:40px;
  width:690px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:344px;
  top:57px;
  width:102px;
  height:30px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:345px;
  top:90px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:184px;
  top:190px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:118px;
  top:194px;
  width:56px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:118px;
  top:230px;
  width:48px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:118px;
  top:150px;
  width:46px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:480px;
  top:140px;
  width:28px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:480px;
  top:190px;
  width:42px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:356px;
  top:290px;
  width:115px;
  height:24px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:118px;
  top:356px;
  width:56px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:118px;
  top:392px;
  width:37px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:118px;
  top:426px;
  width:43px;
  height:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:118px;
  top:462px;
  width:65px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:118px;
  top:530px;
  width:66px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:118px;
  top:496px;
  width:41px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:184px;
  top:146px;
  width:200px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:184px;
  top:230px;
  width:200px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:532px;
  top:137px;
  width:200px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u32_input:disabled {
  color:grayText;
}
#u33 {
  position:absolute;
  left:532px;
  top:190px;
  width:200px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:184px;
  top:352px;
  width:200px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:184px;
  top:387px;
  width:200px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:184px;
  top:422px;
  width:200px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:184px;
  top:457px;
  width:200px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:184px;
  top:492px;
  width:200px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:184px;
  top:527px;
  width:200px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
